<div class="home mt-5">
    <h3>Add New Links Here</h3>
    <div>
        <div class="mb-2">
            <label for="linkTitle" class="p-1">Title:</label>
            <input type="text" id="linkTitle" name="link-title" [(ngModel)]="newLink.title">
        </div>
        <div class="mb-2">
            <label for="linkUrl" class="p-1">URL:</label>
            <input type="text" id="linkUrl" name="link-title" [(ngModel)]="newLink.url">
        </div>
    </div>
    <button type="button" id="addLink" (click)="addLink()" class="mb-1">Add Link</button>
    <div class="card link-card" *ngFor="let link of links">
        <div class="card-body">
            <h3>{{link.title}}</h3>
            <img src="{{link.imageUrl}}" alt="">
            <div>{{link.description}}</div>
            <div>
                <a [href]="link.url" target="_blank">Click to Open</a>
            </div>
            <div>
                <h2>Tags:</h2>
                <span class="badge bg-info me-2" *ngFor="let tag of link.tags">
                        <span class="me-1">{{tag.description}}</span>
                        <span type="button" (click)="deleteTag(link, tag)">&times;</span>
                    </span>
            </div>
            <div>
                <label class="p-1" for="tag">Add Tag: </label>
                <input
                        id="tag"
                        type="text"
                        class="form-control"
                        (input)="onInputTagName($event)">
                <button type="button" id="addTag" (click)="addTag(link)" class="btn-outline-info m-1">Add</button>
            </div>
            <div>
            </div>
            <button type="button" class="btn-outline-danger" (click)="deleteLink(link)">Delete</button>
        </div>
    </div>
    <input type="file" id="fileUpload" onchange="uploadFile()">
    <script>
        function uploadFile() {
            // Get the selected file
            var file = document.getElementById("fileUpload").files[0];

            // Create a new FileReader
            var reader = new FileReader();

            // Read the selected file as text
            reader.readAsText(file);

            // Handle the load event for the FileReader
            reader.onload = function() {
                // Get the contents of the file as text
                var fileContent = reader.result;

                // Parse the HTML from the file
                var parser = new DOMParser();
                var htmlDoc = parser.parseFromString(fileContent, "text/html");

                // Get the body of the HTML document
                var body = htmlDoc.body;

                // Do something with the HTML
                console.log(body);
            }
        }
    </script>
</div>
