<div role="main">
    <h1 class="bg-info">{{ title }}</h1>
    <div>
        <div>
            <label class="p-1" for="input">Username</label>
            <input [(ngModel)]="credentials.username" id="input" type="text">
        </div>
        <div>
            <label class="p-1" for="password">Password</label>
            <input [(ngModel)]="credentials.password" id="password" type="password">
        </div>
        <div>
            <button (click)="register()">Register</button>
            <button (click)="login()">Submit</button>
        </div>
    </div>
</div>
