
<div role="main">
<h1 class="bg-info">{{ title }}</h1>
    <div>
        <div>
            <label class="p-1" for="input">Username</label>
            <input [(ngModel)]="credentials.username" id="input" type="text">
        </div>
        <div>
            <label class="p-1" for="password">Password</label>
            <input [(ngModel)]="credentials.password" id="password" type="text">
        </div>
        <div>
            <button (click)="register()">Register</button>
            <button (click)="login()">Submit</button>
        </div>
    </div>
    <div class="home mt-5">
        <h3>Add New Links Here</h3>
        <div>
            <div class="mb-2">
                <label for="linkTitle" class="p-1">Title:</label>
                <input type="text" id="linkTitle" name="link-title" [(ngModel)]="newLink.title">
            </div>
            <div class="mb-2">
                <label for="linkUrl" class="p-1">URL:</label>
                <input type="text" id="linkUrl" name="link-title" [(ngModel)]="newLink.url">
            </div>
        </div>
        <button type="button" id="addLink" (click)="addLink()" class="mb-1">Add Link</button>
        <div class="card link-card" *ngFor="let link of links">
            <div class="card-body">
                <h3>{{link.title}}</h3>
                <img src="{{link.imageUrl}}" alt="">
                <div>{{link.description}}}</div>
                <div>
                    <a [href]="link.url" target="_blank">Click to Open</a>
                </div>
                <button type="button" class="btn-outline-danger" (click)="deleteLink()">Delete</button>
            </div>
        </div>
    </div>

</div>
