.chat-greeting {
    background-color: black;
    border-radius: 20px;
    padding: 10px 20px;
    display: inline-block;
    margin-bottom: 10px;
}

.chat-greeting-text {
    font-family: 'Arial', sans-serif;
    font-size: 32px;
    margin: 0;
    color: #00FF00;
}
